[user]
	name = Praveen Bathala
	email = pbathala@uber.com
[branch]
	autosetuprebase = always
[rerere]
	enabled = true
[core]
    pager = diff-highlight | less -r
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
